

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

    }
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

    .logo {
    }
    }
    .mg {
    }
        height: 256px;
    }
    }
    }
    }
    }
        height: 19px;
    }
    }
    }
    .wish-box {
    }
    }
    }
    }
        width: 94.8%;
    }
        width: 92%;
    }
        width: 100%;
    }
    }
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

    }
    }
    }
    }
    }
        width: 92%;
    }
        width: 90%;
    }
        width: 100%;
    }
        border: none;
    }
        height: 290px;
    }
        top: 0;
    }
}

    }
    }
}

    }
    }
    }
        font-size: 50px;
        line-height: 70px;
    }
    }
    .three_box p {
        font-size: 16px;
    }
        font-size: 40px;
    }
        font-size: 34px;
    }
        font-size: 16px;
    }
    }
    }
    }
}

    }
    }
    }
    }
        font-size: 40px;
    }
        font-size: 44px;
        line-height: 61px;
    }
    }
        line-height: 40px;
        font-size: 25px;
    }
        font-size: 12px;
    }
        font-size: 22px
    }
    }
    }
    .ourwork .our p {
        font-size: 12px;
    }
        top: 34%;
    }
        right: -14px;
    }
        right: -14px;
    }
    }
}

    }
    }
    .logo {
        width: 126px;
    }
    }
    }
        font-size: 35px;
    }
        border: inherit;
    }
        font-size: 40px;
        line-height: 40px;
    }
        font-size: 55px;
    }
    }
    .wellcome .wellcome-box {
    }
    }
    }
    }
    }
    }
        position: inherit;
        width: inherit;
        height: inherit;
    }
    }
    }
    }
}

    }
    }
    .logo {
    }
    }
        width: 13px;
        height: 13px;
    }
        font-size: 27px;
        line-height: 35px;
    }
        font-size: 33px;
        line-height: 40px;
    }
    }
    }
    }
        border-right: inherit;
    }
        line-height: 40px;
        font-size: 19px;
    }
    .wellcome .wellcome-box {
    }
    }
    }
    }
        position: inherit;
        width: inherit;
        height: inherit;
    }
    .review {
    }
    }
        font-size: 15px;
        line-height: 22px;
    }
    .copyright p {
        font-size: 16px;
    }
    }
    }
    }
}